:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: auto;
  --toastContainerLeft: calc(50vw - 20rem);
}

/** Layout and Grid **/

.overflow {
  overflow: scroll;
}

.screen {
  padding-top: 5px;
}

.row {
  margin-bottom: 10px;
}

.row-header {
  font-weight: bold;
  text-decoration: underline;
}

.row-dropper {
  min-height: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.form-group {
  margin-top: 10px;
}

/** Typography **/

.text-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.text-status-completed {
  color: rgb(0, 111, 0);
}

.text-status-not_started {
  color: rgb(144, 3, 3);
}

.text-link {
  cursor: pointer;
}


/** Forms **/

label {
  margin-bottom: .1rem;
}

.form-control-description {
  font-size: 12px;
  line-height: normal;
  display: block;
}

.btn-block {
  width: 100%;
}

/** Nav **/
.nav-link {
  color: white;
}

.tab-content .nav-tabs .nav-item .nav-link {
  color: gray;
}

.tab-content .nav-tabs .nav-item .nav-link.active {
  color: black;
}


.drop-target-level-1 {
  outline: rgba(255, 255, 102, .7) dashed 2px !important;
}

.drop-target-level-2 {
  outline: rgba(76, 61, 233, 0.7) dashed 2px !important;
  margin-left: 1px;
  margin-right: 1px;
}

/** Accordion **/
.flow-module-status-completed > h2 > button{
  background-color: #ace6bb !important;
  color: black !important;
  border-color: #ace6bb !important;
  box-shadow: none !important;
}

/** Grid / Table **/
.icon-table {
  margin-left: 8px;
  margin-right: 8px;
}